/* styles.css */

body {
  background-color: hsl(180, 52%, 96%);
  margin: 0; /* Remove default body margin */
  overflow-x: hidden; /* Hide horizontal overflow */
}

/* Header styles for desktop */
.header {
  background-image: url('../img/bg-header-desktop.svg');
  background-size: cover;
  background-position: center top;
  background-color: hsl(180, 31%, 44%);
  height: 170px; /* Adjust the height as needed */
  z-index: -1; /* Place the header behind the main content */
}

#main {
  margin-top: -40px; /* Adjust the value as needed */
}


/* Header styles for mobile */
@media (max-width: 768px) {
  .header {
    background-image: url('../img/bg-header-mobile.svg');
    height: 140px; /* Adjust the height as needed */
  }
}

.filter-pill {
  font-family: 'League Spartan', sans-serif; /* Use the specified font */
  font-size: 15px;
  color: hsl(180, 29%, 50%);
  display: inline-block;
  padding: 10px 12px;
  border-radius: 8px;
  background-color: hsl(180, 31%, 95%);
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add transitions */
}

#job-filters-pills .filter-pill {
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  color: hsl(180, 29%, 50%);
  display: flex; /* Change to flex */
  flex-direction: row;
  justify-content: space-between; /* Align items to the start and end */
  padding: 0; /* Swap padding values for left and right */
  border-radius: 8px;
  background-color: hsl(180, 31%, 95%);
  margin-right: 5px;
  margin-bottom: 9px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.filter-pill .cross-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: hsl(180, 29%, 50%);
  padding: 6px;
  align-self: stretch;
  /*  8 px on the right sides and 0px on the left*/
  border-radius: 0 8px 8px 0;
}

.filter-pill:hover .cross-icon {
  background-color: hsl(180, 14%, 20%);
}

.filter-pill .filter-text {
  font-weight: bold;
  margin: 9px 9px 0 9px;
  padding: 0;
  height: fit-content;
}


/* Style for filter pills on hover */
.filter-pill:hover {
  color: white;
  background-color: hsl(180, 29%, 50%);
}

.job-card {
  display: flex;
  /* Remove border */
  background: white;
  padding: 16px;
  margin-bottom: 16px;
  /* Change box shadow color */
  box-shadow: 0 5px 15px hsla(180, 33%, 62%, 0.45);
  flex-wrap: wrap; /* Allow elements to wrap to the next line */
  border-radius: 4px;
  border-left: 5px solid white; /* Set the initial border color to white */
  transition: border-color 0.3s, box-shadow 0.3s; /* Add transitions for border-color and box-shadow */

}

.job-card:hover{
  box-shadow: 0 5px 15px hsla(180, 29%, 34%, 0.56);
  /*  add darkish cyan border on left*/
  border-left: 5px solid hsl(180, 29%, 50%);
}

#job-filters {
  display: flex;
  /* Remove border */
  border: none;
  background: white;
  min-height: 38px;
  padding: 16px;
  margin:0 64px 16px 64px;
  /* Change box shadow color */
  box-shadow: 0 5px 15px hsla(180, 33%, 62%, 0.45);
  flex-wrap: wrap; /* Allow elements to wrap to the next line */
  border-radius: 4px;
  justify-content: space-between;
}

#job-filters p {
  font-family: 'League Spartan', sans-serif; /* Use the specified font */
  font-size: 18px;
  color: hsl(180, 29%, 50%);
  display: inline; /* Make it an inline element */
  margin: 0; /* Remove default margin */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Add transitions */
  align-self: center;
  font-weight: bold;
}

#job-filters p:hover {
  color: hsl(180, 29%, 50%);
  text-decoration: underline; /* Add an underline on hover */
}

#job-filters {
  display: none; /* Hide the job filters container initially */
}


.job-image img {
  border-radius: 50%;
  max-width: 80px;
}

.job-image {
  /* Set column width to 2/12 */
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.job-details {
  /* Set column width to 4/12 */
  flex: 5;
  padding: 8px;
  font-family: 'League Spartan', sans-serif;
  margin-top: auto; /* Push items to the top */
  margin-bottom: auto; /* Push items to the bottom */
  cursor: pointer; /* Change cursor to pointer */
}

.job-skills {
  /* Set column width to 6/12 */
  flex: 6;
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line */
  justify-content: flex-end; /* Align items from the right */
  margin-bottom: auto; /* Push items to the bottom */
  margin-top: auto; /* Push items to the top */
  padding: 30px 8px 8px;
}

.company-info {
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap to the next line */
  align-items: center;
}


/* Change font size for company name and position */
.company-info h2 {
  font-size: 20px; /* Change the font size for the company name */
  margin: 0 10px 0 0;
  color: hsl(180, 29%, 50%);
}

.role {
  font-size: 24px; /* Change the font size for the position */
  font-weight: bold;
  color: black;
  transition: color 0.3s;
  margin-top: 5px;
  margin-bottom: 10px;
}

.company-info .new,
.company-info .featured {
  font-size: 12px;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 16px; /* Make pill-shaped */
  color: white;
  background-color: hsl(180, 29%, 50%); /* Use the specified primary color */
  margin-right: 5px; /* Add spacing between labels */
  margin-bottom: 3px; /* Add spacing between labels */
  margin-top: 3px;
}

.company-info .featured {
  background-color: hsl(180, 14%, 20%); /* Use the specified color for featured */
}

.job-card:hover .role {
  color: hsl(180, 29%, 50%); /* Change text color on hover to primary color */
}

.job-meta {
  color: hsl(180, 8%, 52%); /* Use the specified dark grayish cyan color */
  font-size: 15px; /* Set font size for job meta */
  margin-top: 5px;
}

.tags {
  font-size: 15px; /* Set font size for languages and tools */
  color: black; /* Set text color for languages and tools */
  display: inline-block; /* Display as inline elements */
  padding: 2px 10px; /* Add padding to create square-shaped pills */
  border-radius: 8px; /* Add corner radius */
  background-color: hsl(180, 52%, 96%); /* Set background color */
  margin-right: 5px; /* Add spacing between pills */
}
#job-listings {
  margin: 0 64px; /* Add margin to the job listings container from both sides */
}

p {
  margin: 0;
}

/* CSS for small screen sizes */
@media (max-width: 768px) {
  .job-card {
    flex-direction: column; /* Stack job card content vertically */
    padding-top: 16px; /* Add spacing above job details */
    position: relative; /* Position the job card relatively */
    margin-top: 64px; /* Add spacing between job cards */
  }

  .job-card .job-details{
    padding-top: 16px; /* Add spacing above job details */
    margin-top: 16px; /* Add spacing between job details and job skills */
  }
  .job-image-container {
    width: 100%; /* Set the width to 100% of the card */
    overflow: hidden; /* Hide overflowing content */
    position: absolute; /* Position the image container absolutely */
    top: 0; /* Align the image container to the top of the card */
    left: 0; /* Align the image container to the left of the card */
  }

  .job-card .job-image {
    width: 60px; /* Adjust the width of the image as needed */
    height: auto; /* Maintain the aspect ratio */
    position: absolute; /* Position the image absolutely */
    top: 0; /* Align the image to the top */
    left: 0; /* Align the image to the left */
    transform: translate(-0%, -40%); /* Center the image within the container */
  }


  .job-card .job-skills {
    border-top: 1px solid  hsl(180, 8%, 52%);
    padding-top: 16px; /* Add spacing above job skills */
    margin-top: 16px; /* Add spacing between job details and job skills */
  }
  #job-listings {
    margin: 84px 32px; /* Add margin to the job listings container from both sides */
  }

  #job-filters {
    margin: 0 32px; /* Add margin to the job listings container from both sides */
  }

}

/* CSS for the job popup */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
  position: relative; /* Keep this as relative */
}

.job-card-container {
  position: relative;
}

.popup-content .job-details{
  cursor: default;
}

.popup-content .job-skills {
  border-top: 1px solid  hsl(180, 8%, 52%);
  padding-top: 16px; /* Add spacing above job skills */
  margin-top: 16px; /* Add spacing between job details and job skills */
}

.job-card-popup .job-skills .filter-pill {
  cursor: default;
}

/* Style for the delete button */
.delete-button {
  position: absolute;
  width: 26px;
  height: 26px;
  top: 10px;
  right: 10px;
  padding-top: 2px;
  background-color: #ff4b4b; /* Red background color */
  color: #fff; /* White text color */
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bolder;
  font-family: 'League Spartan', sans-serif;
  align-self: self-start;
  font-size: larger;
  box-shadow: 0 3px 9px rgba(229, 111, 111, 0.2); /* Box shadow for normal state */
  transition: background-color 0.3s, box-shadow 0.3s; /* Transition effect for hover state */
}

/* Hover effect for the delete button */
.delete-button:hover {
  background-color: #ff3333; /* Darker red background color on hover */
  box-shadow: 0 5px 15px rgba(218, 36, 36, 0.3); /* Increase box shadow on hover */
}
